<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">STUDENTS</a>
  <h1>СПИСОК</h1>
  <h3> 3 ISiP</h3>
  <p> <ul>
      <li> Абдурахманов Абдурахман Махачевич </li>
      <li> Бабуев Абдурахман Магомедович </li>
      <li> Бахмудов Курбан Саидович </li>
      <li> Бекмагомаев Тагир Магомедович</li>
      <li> Гаджиев Рашид Низамудинович</li>
      <li> Гаджиева Гуругыз Маратовна</li>
      <li> Гонджуа Астанда Михайловна</li>
      <li> Гусейнов Артем Игоревич</li>
      <li> Давыдова Марьям Маратовна</li>
      <li> Закарьяев Садрутдин Атаевич</li>
      <li> Зикеряева Заира Назировна</li>
      <li>  итд ...</li>
  </ul> </p>

  <h1>СПИСОК</h1>
  <h3> 3 RP-IS</h3>
  <p> <ul>
      <li> Ибрагимова Аида </li>
      <li> Атаев Ахмед</li>
      <li> Ханалиев Марат </li>
      <li> Муртазалиева Марьям</li>
      <li> Гасанова Мадина</li>
      <li>  итд ...</li>
  </ul> </p>

  <h1>СПИСОК</h1>
  <h3> 3 POVTiAS</h3>
  <p> <ul>
      <li> Магомедова Оксана </li>
      <li> Алибекова Заира</li>
      <li> Саидмагомедова Ума </li>
      <li> Омаров Кимбар</li>
      <li> Гаджиев Гаджи</li>
      <li>  итд ...</li>
  </ul> </p>


</body>
</html>